{% extends 'catalog/basic_emplate.html'%}
{% load my_tags %}
{% block content %}

    <main role="main">



      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-10">

              <div class="card mb-4 box-shadow">
               <div class="container text-center">
                  <div class="row">
                     <div class="col">
                <img class="card-img-top" src="{{ product.image_ph | media_filter}}"   alt="Card image cap">
                     </div>
                     <div class="col">
                <div class="card-body">
                  <p class="card-text">{{product.name}}</p>
                  <p class="card-text">{{product.description}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                         {% if user.is_authenticated %}
                    {% if user == object.creator or user.is_superuser %}
                      <a class="btn btn-outline-success" href="{% url 'shop:product_update' product.pk %}" role="button">Изменить</a>
                         {% else %}
                        {% if perms.catalog.set_published_status %}
                            <p>
                                <a class="btn btn-warning" href="{% url 'catalog:update_product_is_published' object.pk %}">Статус публикации</a>
                            </p>
                        {% endif %}
                        {% if perms.catalog.can_change_description %}
                            <p>
                                <a class="btn btn-warning" href="{% url 'catalog:update_product_description' object.pk %}">Поменять описание</a>
                            </p>
                        {% endif %}
                        {% if perms.catalog.can_change_category %}
                            <p>
                                <a class="btn btn-warning" href="{% url 'catalog:update_product_category' object.pk %}">Поменять категорию</a>
                            </p>
                        {% endif %}
                    {% endif %}
                        {% endif %}
                       <a class="btn btn-outline-success" href="{% url 'shop:product_delete' product.pk %}" role="button">Удалить</a>
                      <button type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'shop:products'%}">Обратно</button>
                    </div>
                    <small class="text-muted">{{product.price}} руб.</small>
                  </div>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>

    </main>


{% endblock %}